# Environment variables
.env

# Python virtual environment
venv/
newenv/
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
